<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-left">
    <a class="navbar-brand" routerLink="clients">Clients</a>

    <a class="navbar-brand" routerLink="colis">Colis</a>
    </div>
    <div class="nav navbar-nav navbar-right">

      <a class="navbar-brand" routerLink="auth/signin" *ngIf="!isAuth">Connexion</a>

      <a class="navbar-brand"  routerLink="auth/signin" (click)="onSignOut()" *ngIf="isAuth">Déconnexion</a>

    </div>
  </div>
</nav>
