<h1>Détails client</h1>

<table class="table">
  <tbody>
  <tr>
    <td><strong>Entreprise: </strong>{{client.entreprise}}</td>
    <td><strong> Interlocuteur: </strong>{{client.interlocuteur}}</td>
    <td><strong>Adresse: </strong>{{client.adresse}}</td>
  </tr>
  <tr>
    <td><strong>Mail: </strong>{{client.mail}}</td>
    <td><strong>Téléphone:</strong> {{client.telephone}}</td>
  </tr>

  </tbody>
</table>


<button class="btn btn-primary" (click)="back(true)">Retour à la liste des clients</button>
<button class="btn btn-secondary" (click)="modify()">Modifier</button>
<button class="btn btn-danger" (click)="back(true)">Supprimer</button>
