<div *ngIf="index === null && isCreated === false" class="row">
  <div class="col-xs-12">
    <h2>Vos livres</h2>
    <div class="list-group">
      <button
        class="list-group-item"
        *ngFor="let client of clients; let i = index"
        (click)="onViewClient(i)">
        <h3 class="list-group-item-heading">
          {{ client.entreprise }}
          <button class="btn btn-default pull-right" (click)="onDeleteClient(client)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{ client.interlocuteur }}</p>
      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewClient()">Nouveau Client</button>
  </div>
</div>

<div *ngFor="let client of clients; let i = index">
  <app-single-client *ngIf="index===i && isModify == false"  (removeEvent)="onRemove(client)" [client]="client" (backEvent)='onBackDashboard()' (modifyEvent)='onModify()'> </app-single-client>
</div>

<div *ngFor="let client of clients; let j = index">
  <app-ajout-modification-client *ngIf="index===j && isModify == true" [isModify]="isModify" [client]="client" (backEvent)='onBackDashboard()'> </app-ajout-modification-client>
</div>

<div *ngIf = "isCreated">
  <app-ajout-modification-client [isModify]="isModify" (backEvent)='onBackDashboard()' [client]="clientNull"></app-ajout-modification-client>
</div>
