
<div *ngIf="index === null && isCreated === false && isSingle == false" class="row">

  <h1>Colis</h1>
  <div class="list-group">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Entreprise</th>
        <th scope="col">Emplacement</th>
        <th scope="col">Code Article</th>
        <th scope="col">Désignation</th>
        <th scope="col">Marquage</th>
        <th scope="col">N° Palette</th>
        <th scope="col">Remarque</th>
        <th scope="col">Date d'arrivée</th>
        <th scope="col">Date de départ</th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coli of colis; let i = index" >
        <td>{{coli.entreprise}}</td>
        <td>{{coli.emplacement}}</td>
        <td>{{coli.codeArticle}}</td>
        <td>{{coli.designation}}</td>
        <td>{{coli.marquage}}</td>
        <td>{{coli.numeroPalette}}</td>
        <td>{{coli.remarque}}</td>
        <td>{{coli.arrivee}}</td>
        <td>{{coli.depart}}</td>
        <button type="button" class="btn btn-light" (click)="onViewColis(i)">Détails</button>

      </tr>

      </tbody>
    </table>


  </div>
  <button class="btn btn-primary" (click)="onNewColis()">Nouveau colis</button>

</div>



<div *ngFor="let coli of colis; let j = index">
  <app-single-colis *ngIf="index===j && isSingle== true" [coli]="coli" (modify)="onModify(j)" (remove)="onRemove(coli)"(back)="onBackDashboard()"></app-single-colis>
  <app-ajout-modification-colis *ngIf="index===j && isModify == true && isSingle == false" [isModify]="isModify" [colis]="coli" (backEvent)='onBackDashboard()'> </app-ajout-modification-colis>
</div>



<div *ngIf = "isCreated && isSingle == false">
  <app-ajout-modification-colis [isModify]="isModify"  (backEvent)='onBackDashboard()' [colis]="coliNull"></app-ajout-modification-colis>
</div>


