<div class="row">
    <h2>Ajouter/Modifier un client</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="entreprise">Entreprise</label>
        <select class="form-control" id="entreprise" formControlName="entreprise" >
          <option *ngFor="let entreprise of entreprises" >{{entreprise[1]}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="emplacement">Emplacement</label>
        <input type="emplacement"
               id="emplacement"
               class="form-control"
               formControlName="emplacement">
      </div>

      <div class="form-group">
        <label for="codeArticle">Code Article</label>
        <input type="codeArticle"
               id="codeArticle"
               class="form-control"
               formControlName="codeArticle">
      </div>
      <div class="form-group">
        <label for="designation">Désignation</label>
        <input type="text"
               id="designation"
               class="form-control"
               formControlName="designation">
      </div>

      <div class="form-group">
        <label for="numeroPalette">Numéro palette</label>
        <input type="numeroPalette"
               id="numeroPalette"
               class="form-control"
               formControlName="numeroPalette">
      </div>

      <div class="form-group">
        <label for="marquage">Marquage</label>
        <input type="marquage"
               id="marquage"
               class="form-control"
               formControlName="marquage">
      </div>

      <div class="form-group">
        <label for="remarque">Remarque</label>
        <input type="remarque"
               id="remarque"
               class="form-control"
               formControlName="remarque">
      </div>

      <div class="form-group">
        <label for="arrivee">Date d'arrivée</label>
        <input type="date"
               id="arrivee"
               class="form-control"
               formControlName="arrivee">
      </div>

      <div class="form-group">
        <label for="depart">Date de départ</label>
        <input type="date"
               id="depart"
               class="form-control"
               formControlName="depart">
      </div>
      <button class="btn btn-primary"
              type="submit"
      >Créer/Modifier</button>
      <button class="btn btn-secondary"
              (click)="back()"
      >Retour</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>

</div>
